.grid-fluid.l-space-bottom-8
  .c1 &nbsp;

  .c10.text-center
    h3.text-headline.text-uppercase schedule
    p.text-body
      a(href="http://angular.io") Angular 2
      |  is already here and we all want to know about it.
      | Let's dive into Angular 2 Developers preview and
      | discover the future of the framework.

  .c1 &nbsp;

.grid-fluid.l-space-bottom-6.bcn-fluid

  <!-- BIO CARDS -->
  for person, name in bios
    .c4
      md-card(class="bio-card" data-website="#{person.website}" data-twitter="#{person.twitter}" data-pic="#{person.picture}" data-bio="#{person.bio}"  data-name="#{person.name}" data-title="#{person.talk.title}" data-description="#{person.talk.description}" ng-click="showBio($event)")
        header
          image(src="#{person.picture}" alt="#person.name")

          nav
            button(aria-label="#person.name") #{person.name}

            if person.twitter
              a(title="twitter" href="https://twitter.com/#{person.twitter}" ng-click="$event.stopPropagation()") <span class="icon-twitter"></span>

            if person.website
              a(title="website" href="#{person.website}"  ng-click="$event.stopPropagation()") <span class="icon-publ"></span>

        md-card-content
          h3.text-headline.bio-card-name #{person.talk.time} - #{person.talk.title}
          p(class="bio-card-content text-body") #{person.talk.description}

.grid-fluid.l-space-bottom-8
  .c1 &nbsp;

  .c10.text-center
    p.text-body
      | We are still looking for Angular 2 talks. Plase
      | drop us a message on <a href="http://www.meetup.com/AngularJS-Barcelona">Meetup</a> if you are interested.

  .c1 &nbsp;


#about.grid-fluid.l-space-bottom-8
.l-main-section
  .l-sub-section.beers-section(layout-sm="column" layout-gt-sm="row" layout-align-gt-sm="start center")
    .beers-logo(flex="1" flex-gt-md="25")
      img(src="resources/images/logos/bcn/beers.png")
    .text(flex="1" flex-gt-md="75")
      h3 AngularBeers after-event - Saturday, June 20, 2015 , 7:30PM
      p AngularBeers invites you to talk and share about AngularJS while having some beers after the talks are finished.
      a(href="http://www.meetup.com/AngularJS-Beers/events/222722065/" class="button" md-button) Join the group
